@use '../global' as g;

/*********************************
    トップページ
*********************************/

.home{
    opacity: 0;
    visibility: hidden;

    &--active{
        opacity: 1;
        visibility: visible;
    }
}