@use '../global' as g;

/*********************************
    コンテナ
*********************************/

.container{
    display: flex;
    justify-content: center;   
    width: 100%; 
    background-color: g.$s-color_background_primary;
}

.container__inner{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: g.$content_width;
    padding: 20px 20px 40px 20px;
}

.container__breadcrum{
    padding-bottom: 20px;
}

.container__column{
    display: flex;
    gap: 40px;

    @include g.media(sp){
        flex-direction: column;
    }
}

.container__cta-area{
    padding-top: 40px;
}
