@use '../global' as g;

/*********************************
    コンテンツ
*********************************/

.content{
    display: block;
}

.content__inner{
    margin: 0 20px;

    &--column-left{
        
        @include g.media(pc){
            margin-right: calc(60px + g.$sidebar_width);
        }
    }
}

.content__box{
    background-color: g.$color_white;
    border: 1px solid g.$color_grey_light;
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(g.$color_pure-black,0.1);
    padding: 40px;

    >*:last-child{
        margin-bottom: 0;
    }
}

.content__header{
    margin-bottom: 60px;
}

.content__section{
    margin-bottom: 60px;
}