@use '../global' as g;

/*********************************
    フッター
*********************************/

.footer{
    width: 100%;
    background-color: g.$color_grey_light;
}

.footer__inner{
    max-width: g.$content_width;
    margin: 0 auto;
    padding: 10px;
}

.footer__text{
    font-size: g.$font-size_sm;
}