@use '../global' as g;

/*********************************
    フッター
*********************************/

.footer{
    width: 100%;
    background-color: g.$s-color_background_secondary;
}

.footer__inner{
    max-width: g.$content_width;
    margin: 0 auto;
    padding: 10px;
}

.footer__text{
}