@use '../global' as g;

/*********************************
    ラジオボタン
*********************************/

/* form-radio-group */
.form-radio-group{
    display: flex;
    gap: 20px;
}

/* form-radio */
.form-radio{
    display: inline-flex;
    align-items: center;
}

.form-radio__input{
    &:focus + .form-radio__label::before{
        outline: 2px solid  g.$s-color_border_focused;
    }

    &:checked + .form-radio__label::before{
        background-color: g.$p-color_blue_900;
        border-color: g.$p-color_blue_900;
        box-shadow: inset 0 0 0 4px g.$p-color_white;
    }
}

.form-radio__label{
    display: inline-flex;
    align-items: center;
    gap: 10px;

    &::before{
        content: "";
        width: 20px;
        height: 20px;
        border: 2px solid g.$p-color_grey_900;
        border-radius: 100px;
    }
}