@use '../global' as g;

/*********************************
    見出し
*********************************/

/* メインビジュアル見出し */
.page-visual-heading{
    position: relative;
    font-size:g.$font-size_xxxxl;
    font-weight: bold;
    transform: translateY(-10%);
    margin-top: calc((((1em * g.$line-height_base) - 1em) / 2) * -1);
    
    &::after{
        content: "";
        position: absolute;
        bottom: -20%;
        left: 50%;
        transform: translateX(-50%);
        width: 8rem;
        height: 4px;
        background-color: g.$color_black_light;
        border-radius: 100px;
        margin-bottom: 0;
    }
}

/* コンテンツ見出し1 */
.content-heading-first{
    font-size:g.$font-size_xxl;
    font-weight: bold;
    margin-top: calc((((1em * g.$line-height_base) - 1em) / 2) * -1);
    
    &::after{
        content: "";
        display: block;
        width: 16rem;
        max-width: 100%;
        height: 2px;
        background-color: g.$color_black_light;
        border-radius: 100px;
        margin-bottom: 0;
    }
}

/* コンテンツ見出し2 */
.content-heading-second{
    position: relative;
    font-size:g.$font-size_xl;
    font-weight: bold;
    margin-top: calc((((1em * g.$line-height_base) - 1em) / 2) * -1);
    margin-bottom: calc((((1em * g.$line-height_base) - 1em) / 2) * -1);
    padding-left: 12px;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        height: g.$font-size_xl;
        background-color: g.$color_black_light;
        border-radius: 10px;
        margin-top: calc((((1em * g.$line-height_base) - 1em) / 2));
        
    }
}

/* コンテンツ見出し3 */
.content-heading-third{
    font-size:g.$font-size_lg;
    font-weight: bold;
    margin-top: calc((((1em * g.$line-height_base) - 1em) / 2) * -1);
    margin-bottom: calc((((1em * g.$line-height_base) - 1em) / 2) * -1);
}