@use '../global' as g;

/*********************************
    ラベル
*********************************/

.label{
    display: inline-block;
    padding: 0.2em 0.6em;
    background-color: g.$color_grey;
    border: 1px solid transparent;
    border-radius: 2px;
    color: g.$color_white;
    font-size: g.$font-size_xxs;
    font-weight: bold;

    &--red{
        background-color: #a74848;
    }
    
    &--link{
        background-color: g.$color_grey_dark;
        transition: 0.5s;
        cursor: pointer;

        &:hover,&:focus{ 
            background-color: g.$color_white;
            border-color: currentColor;
            color: g.$color_grey_dark;
        }
    }
}
