@use '../global' as g;

/*********************************
    メディア
*********************************/

.media{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @include g.media(pc){
        flex-direction: row;
    }

    &--reverse{
        
        @include g.media(pc){
            flex-direction: row-reverse;
        }
    }
}

.media__body{
    flex: 1;
    
    >*:last-child{
        margin-bottom: 0;
    }
}

.media__title{
    margin-bottom: 10px;
    font-size:g.$font-size_lg;
    font-weight: bold;
}

.media__text{
    font-size: g.$font-size_sm;
    line-height: g.$line-height_low;
    margin-bottom: 10px;
}

.media__img-wrapper{
    flex: 0 1 30%;
}

.media__img{
    width: 100%;
}