@use '../global' as g;

/*********************************
    ページトップ
*********************************/

.pagetop{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: max(40px, ( (100% - g.$content_width) / 2) - 40px);
    bottom: 20px;
    width: 40px;
    height: 40px;
    background-color: g.$p-color_opacity_black_03;
    border-radius: 100px;
    z-index: g.$z-index_pagetop;
    opacity: 0;
    transition: opacity 0.1s , background-color 0.1s;

    &:hover,&:active,&:focus{
        background-color: g.$p-color_opacity_black_06;
    }

    &--show{
        opacity: 1;
    }
}

.pagetop__icon{
    color: g.$p-color_white;
    font-size: g.$font-size_xl;
}