@use '../global' as g;

/*********************************
    料金表
*********************************/

/* 料金表 */
.price-box{
    border: 1px solid g.$color_grey_light;
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(g.$color_pure-black,0.1);
    overflow: hidden;;
}

.price-box__header{
    padding: 10px;
    background-color: g.$color_grey_dark;
    color: g.$color_white;
    text-align: center;
}

.price-box__title{
}

.price-box__price{
    font-size: g.$font-size_xl;
    font-weight: bold;
}
                       
.price-box__body{
    padding: 10px;
    font-size: g.$font-size_sm;
    line-height: g.$line-height_low;
    
    >*:last-child{
        margin-bottom: 0;
    }
}

.price-box__lead{
    margin-bottom: 15px;
}

.price-box__features{
    text-align: center;

    >*:last-child{
        margin-bottom: 0;
    }
}

.price-box__features-header{
    padding: 5px;
    margin-bottom: 10px;
    background-color: g.$color_grey_light;
}

.price-box__features-text{
    margin-bottom: 15px;
}

/* 料金表ラッパー */
.price-boxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    @include g.media(pc){
        flex-direction: row;
    }
}

.price-boxes__item{
    flex: 1;
}